@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    font-weight: 400px;
    scroll-behavior: smooth;
}


body{
    height: 100vh;
    width: 100%;
    display: center;
    align-items: center;
    justify-content: left;
    background: url('imagenes/fondo_dia.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
}

.map{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    border-radius: 10px;
    }

.container{
    position: absolute;
    top: 20%;
    right: 2%;
    width: 400px;
    height: 105px;
    margin-left: 40px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: "poppins", sans-serif;
    transition: 0.6s ease-out;
}

.pointer {
    position: relative;
}

.pointer p {
    text-align: center;
    color: #06283D;
    font-size: 20px;
}

.aqi-box span{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aqi-box{
    text-align: center;
}

.aqi-box img{
    width: 60%;
    margin-top: 30px;
}

.aqi-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.aqi-box .temperature span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.aqi-box .description{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}