@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.bloque{
    background-color: transparent;
    backdrop-filter: blur(18px);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 12px;
    color: #fff;
    padding: 20px;
    text-align: left;
    max-width: 280px;
    width: 100%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    left: 10%; 
    top: 50%;
    transform: translate(-50%, -50%); 
}

.map{
    position: absolute;
    top: 45%;
    left: 72%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border-radius: 10px;
}

.geocoder {
    position: absolute;
    z-index: 1;
    width: 40%;
    left: 81%;
    margin-left: -25%;
    top: 23%;
    border-radius: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 80%;
    border-radius: 10px;
}

.boton{
    height: 50px;
    width: 150px;
    border-radius:8pc;
    background: #74263f;
    border: 2px solid #74263f;
    outline: none;
    margin-top: 15px;
    color:#ffff;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: 600;
    position: absolute;
    bottom: 20%;
    right: 5%;
    overflow: hidden;
    z-index: 1;
}

.boton:hover{
    color:#74263f
}

.boton::before{
    content:"";
    position: absolute;
    background:#ffff;
    height: 100%;
    width: 0%;
    top:0;
    left:0;
    transition: .3s;
    z-index: -1;
}

.boton:hover:before{
    width: 100%;
}

.titulo {
    position: absolute;
    top: 13%;
    left: 2%;
    color: #ffff;
}
