asgiref            3.7.2
boto3              1.28.43
botocore           1.31.43
CacheControl       0.13.1
certifi            2023.7.22
charset-normalizer 3.2.0
distlib            0.3.7
Django             4.2.5
filelock           3.12.2
idna               3.4
iso3166            2.1.1
jmespath           1.0.1
mapbox             0.18.1
msgpack            1.0.5
pip                23.2.1
platformdirs       3.10.0
polyline           2.0.0
python-dateutil    2.8.2
requests           2.31.0
s3transfer         0.6.2
six                1.16.0
sqlparse           0.4.4
tzdata             2023.3
uritemplate        4.1.1
urllib3            1.26.16
virtualenv         20.24.3
