{% load static %}
<!DOCTYPE html>
<style>
body {
    background-image:url("{% static 'Aplicacion1/logoxd/19362670.jpg' %}");
    background-color: #93c8f7; /* Cambia el color de fondo según tus preferencias */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Agbalumo:400,700&display=swap">
    <link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}"> 
    <title>CATZ</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'Aplicacion1/logoxd/10338019.png' %}" alt="CATZ" />
            <h2 class="nombre">CATZ</h2>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'viaje' %}">Viajes</a></li>
            {% if not user.is_authenticated %}
            <li><a href="{% url 'singin' %}">Ingresar</a></li>
            {% else %}
            <li><a href="{% url 'singout' %}">Cerrar Sesión</a></li>
            <li><a href="{% url 'profile' %}">Perfil</a></li>
            {% endif %}

        </ul>
                
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>



</body>
</html>