{% extends 'base.html' %}

{% block content %}
<h1>Información de AQI US</h1>

<label for="ciudad">Ingrese la ciudad:</label>
<input type="text" id="ciudad"><br><br>

<button onclick="obtenerInformacion()">Obtener AQI US</button><br><br>

<div id="resultado"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
function obtenerInformacion() {
    var ciudad = document.getElementById('ciudad').value;

function obtenerInformacion() {
    var ciudad = document.getElementById('ciudad').value;

    $.ajax({
        url: '/ruta_de_tu_vista/',  // Reemplaza con la URL de tu vista
        data: {
            ciudad: ciudad
        },
        success: function(response) {
            var resultado = response.aqius;
            var ciudad = response.ciudad;
            document.getElementById('resultado').innerHTML = `AQI US para ${ciudad}: ${resultado}`;
        }
    });
}
</script>
}
</script>
{% endblock %}
