{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<h1 class="titulo">Perfil</h1>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" 
    type="text/css">
</head>
    <body>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="{% static '/perfil.css' %}">              
    <link rel="stylesheet" href="{% static '/widget_perfil.css' %}">                          
</head>
<body>
    <div id="map" class="map"></div>

    <div id="geocoder" class="geocoder"></div>

    <button class="boton" onclick="guardarYRecargar()">
        Guardar Ubicacion
    </button>
    
    
    <script>
        function guardarYRecargar() {
            window.location.href = '{% url "profile" %}';
        }
    </script>

    <div class="direccion">
        <samp>{{u}}</samp>
    </div>

    <div class="direcciones">
        {% for direccion in direcciones %}

            <h1 class="texto">
            
                {{ direccion }}

            </h1>

        {% endfor %}
    </div>


    <script>
        $(function() {
            // Configura las cookies del token CSRF
            var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
            function csrfSafeMethod(method) {
                // estos métodos no requieren CSRF
                return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        });
    </script>

    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibXJpdmVybzAwIiwiYSI6ImNsbG11NWptbjF0ZmIzcXI2dDdybThnMmkifQ.uhdlXK3odioAdWo0OOogwA';

    navigator.geolocation.getCurrentPosition(successLocation, erroLocation, { enableHighAccuracy: true });

    function successLocation(position) {
        console.log(position)
        setupMap([position.coords.longitude, position.coords.latitude])
    }

    function erroLocation() {
        setupMap([-70.654191, -33.44395])
    }

    var previousCity = null;
    var selectedCity = null; 

    function setupMap(center) {
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: center,
        zoom: 15
    }) 

    const geocoder = new MapboxGeocoder({
        accessToken: mapboxgl.accessToken,
        mapboxgl: mapboxgl
    });
    geocoder.on('result', function(ev) {
                            var city = ev.result.text;
                            console.log('Direccion', city) // Actualiza la variable con la nueva ubicación seleccionada
                            selectedCity = city
                            sendLocationToServer(city)
                        });

    document.getElementById('geocoder').appendChild(geocoder.onAdd(map));

    const nav = new mapboxgl.NavigationControl();
    map.addControl(nav)
            
    }
    function sendLocationToServer(city) {
            fetch('/profile/',{
                method: 'POST',
                headers:{
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: 'city=' + encodeURIComponent(city)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Respuesta del servidor:', data);
            })
            .catch(error => {
                console.error('Error al enviar la ubicación:', error);
            });
    }

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>

</body>
</html>
{% endblock %}